<html>
<head>
</head>
<body>

<h1>FatEar</h1> 
<h2>Home</h2>

<p>
	<a href="/profile">Profile</a>
	<a href="/logout">Logout</a>
</p>
<form action="/search" method="POST">
	<span><b>Search Music</b></span>
	<br>
	<input type="text" name = "item" placeholder="search song or album" />
	<input type="text" name = "artist" placeholder="artist" />
	<input type="text" name = "genre" placeholder="genre" />
	<input type="text" name = "mar" placeholder="minimum average rating" />
	<input type="submit" value = Search />
</form>


<form action="/find_artists" method="POST">
	<span><b>Find Artists</b></span>
	<br>
	<input type="text" name = "artist" placeholder="search artists" required/>
	<input type="submit" value = Search />
</form>

<h4>Song Reviews</h4> 
{% for line in songReviews %}
<p>
	{{line.follows}}
	<br>
	<i>
		<a href={{line.songURL}}>{{line.title}}</a>
	</i>
	<small>
		{{line.reviewDate}}
	</small>
	<br>
	<small>
		<span><small>{{line.albumName}}</small> &diams;</span>
		<span>{{line.fname}}</span>
	</small>
	<br>
	{{line.reviewText}}
	<br>
</p>
{% endfor %}

<h4>Album Reviews</h4> 
{% for line in albumReviews %}
<p>
	{{line.follows}}
	<br>
	<i>
		<a href={{line.albumURL}}>{{line.albumName}}</a>
	</i> 
	<small>
		{{line.reviewDate}}
	</small>
	<br>
	<small>
		{{line.fname}}
	</small>
	<br>
	{{line.reviewText}}
	<br>
</p>
{% endfor %}


<br>


</body>

</html>