<html>

<head>
</head>

<h1>FatEar</h1>

<body>
	<form action="/search" method="POST">
		<span><b>Search Music</b></span>
		<br>
		<input type="text" name = "item" placeholder="song or album" />
		<input type="text" name = "artist" placeholder="artist" />
		<input type="text" name = "genre" placeholder="genre" />
		<input type="text" name = "mar" placeholder="minimum average rating" />
		<input type="submit" value = Search />
	</form>
	<br>
	<a href="/login">Login</a>
	<br>
	<a href="/register">Register</a>
</body>

</html>
